.container{
    -webkit-column-width: 250px;
    -moz-column-width: 250px;
    column-width: 250px;
    -webkit-column-gap: 5px;
    -moz-column-gap: 5px;
    column-gap: 5px;
}
.container div{
    width: 250px;
    margin: 5px;
}