/*body{*/
    /*background-color: darkgray;*/
/*}*/
/*p{*/
    /*background-color: aqua;*/
    /*padding: 10px;*/
    /*height: 100px;*/
    /*width: 100px;*/
/*}*/

body{
    background-image: url("5.jpg");
    background-repeat: no-repeat;
    /*background-position: center top;/!*right和center*!/*/
    /*background-position: 100px 100px;*/
    /*background-attachment: fixed;*/
    background-size: 1000px 1000px;
}

/*p{*/
/*background-image: url("5.jpg");*/
/*padding: 10px;*/
/*height: 100px;*/
/*width: 100px;*/
/*}*/