*{
    margin: 0px;
    padding: 0px;
}
.div{
    width: 70%;
    height: 1000px;
    background-color: #00ff3b;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*position: absolute;*/
    /*right: 0px;*/
    /*float: right;*/
    margin: 100px auto;
}