#position1{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 2;
}
#position2{
    width: 100px;
    height: 100px;
    background-color: #ff0005;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 3;
}
#position3{
    width: 100px;
    height: 100px;
    background-color: #00ff1b;
    position: absolute;
    left: 30px;
    top: 30px;
    z-index: 1;
}
